<!DOCTYPE HTML> 
<html class="h-100" style="width: 100vw; overflow-x:hidden;">
    <head>
        <title>giv</title>
        <meta charset="utf-8">
        <meta name="author" content="Law Rui Xi">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/style.css">

        <script src="../static/feed.js"></script>

    </head>
    <body class="h-100">
        <div class="cover-container d-flex w-75 h-100 p-3 mx-auto flex-column">
            <header class="mb-2 h-25">
                <div class="h-100">
                    <!--<h3 class="float-md-start mb-0">giv</h3>-->
                    <img class="float-md-start mb-0 h-75" src="../static/giv.png" alt="giv">
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/about">About</a>
                        <a class="nav-link" href="/contact">Contact</a>
                        <a class="nav-link" href="/logout">Sign Out</a>
                    </nav>
                </div>
            </header>

            <div class="d-flex flex-column my-1">
                <p class="fst-italic ms-auto me-0">Welcome back, {{username}}</p>
                <div class="d-flex flex-column rounded bg-white border border-secondary border-3 p-1 btn-group-vertical">
                    <div class="d-flex flex-row w-100">
                        <!--<img src="../static/group_chat_icon.png" class="float-md-start m-0 h-50">-->
                        <h3 class="mx-2">Chat Groups</h3>
                        <a class="btn btn-secondary bg-dark-green text-color-white rounded mt-0 mb-auto ms-auto me-0" type="button" href="/chatgroup/new">+ New</a>
                    </div>
                {% for chat_group in chat_groups %}
                    <a href="/chatgroup/{{chat_group['chat_group_id']}}" class="btn btn-hover-light-green w-100 my-1">{{chat_group["name"]}}</a>
                {% endfor %}
                </div>
            </div>
            <div class="d-flex flex-row my-1">
                <!--<img src="../static/interest_group_icon.png" class="float-md-start m-0 h-25">-->
                <h3 class="mx-2">Interest Groups</h3>
                <button class="btn btn-secondary bg-dark-green text-color-white rounded mt-0 mb-auto ms-auto me-0" type="button" onclick="this.blur();">+ New</button>
            </div>

            <div class="d-flex flex-row h-25">
                <!--<img src="../static/interest_group_icon.png" class="float-md-start m-0 h-25">-->
                <h3 class="mx-2">Following</h3>
                <button class="btn btn-secondary bg-dark-green text-color-white rounded mt-0 mb-auto ms-auto me-0" type="button" onclick="this.blur();">+ New</button>
            </div>

            <footer class="mt-auto">
                <p class="font-weight-italic">giv, 2021</p>
            </footer>
        </div>
    </body>
</html>

