<!DOCTYPE HTML>
<html class="h-100" style="width: 100vw; overflow-x:hidden;">
    <head>
        <title>giv</title>
        <meta charset="utf-8">
        <meta name="author" content="Law Rui Xi">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href=" {{url_for('static', filename='style.css')}}">
        <script src="{{url_for('static', filename='post.js')}}"></script>

    </head>
    <body class="h-100">
        <div class="cover-container d-flex w-75 h-100 p-3 mx-auto flex-column">
            <header class="mb-2 h-25">
                <div class="h-100">
                    <!--<h3 class="float-md-start mb-0">giv</h3>-->
                    <img class="float-md-start mb-0 h-75" src="{{url_for('static', filename='giv.png')}}" alt="giv">
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link" href="/about">About</a>
                        <a class="nav-link" href="/contact">Contact</a>
                        <a class="nav-link" href="/logout">Sign Out</a>
                    </nav>
                </div>
            </header>
            <div class="d-flex flex-column w-100 rounded border border-3 border-secondary bg-light-light-green text-color-black m-2 p-2">
                <div class="d-flex flex-row">
                    <p class="fst-italic"><strong>{{post['posted_by']}}</strong> posted...</p>
                    <p class="fst-italic ms-auto me-0">{{post['posting_time']}}</p>
                </div>
                <h3> {{post['title']}} </h3>
                {% if post['content'] != None %}
                <p class="m-1">{{post['content']}}</p>
                {% endif %}
                <div class="d-flex flex-row align-items-center">
                    <input class="mx-1" style="height: 1rem;" type="image" src="{{url_for('static', filename='view.png')}}"></input>
                    <p class="my-auto">{{post['views']}}</p>
                    <input class="mx-1 ms-3" style="height: 1rem;" type="image" src="{{url_for('static', filename='like.png')}}"></input>
                    <p class="my-auto">{{post['likes']}}</p>
                </div>
            </div>
            <div class="d-flex flex-column w-100 rounded border border-3 border-secondary bg-light-light-green text-color-black m-2">
                <h5 class="m-1">Comments</h5>
                <!--TODO: nested comments oh boi-->
                {% for comment in comments %}
                    <div class="d-flex flex-column w-100 border-top border-3 border-secondary p-1">
                        <div class="d-flex flex-row">
                            <p class="fst-italic fw-bold mt-0 mb-0">{{comment['posted_by']}}</p>
                            <p class="fst-italic ms-auto me-0 mt-0 mb-0">{{comment['commenting_time']}}</p>
                        </div>
                        <p class="mt-0 mb-0">{{comment['content']}}</p>
                    </div>
                {% endfor %}
                <form class="m-0 p-1"method="POST" action="">
                    <textarea class="w-100 p-1 border-top border-secondary border-3" id="comment_textarea" id="content" placeholder="Comment..." name="content" style="height: 4rem;" maxlength="1000"></textarea>
                </form>
            </div>
            <footer class="mt-auto">
                <p class="font-weight-italic">giv, 2021</p>
            </footer>
        </div>

    </body>
</html>
